html {
  overflow-x: hidden;
  cursor: default;
}
.App {
  text-align: center;
  height: 600vh;
  width: 100vw;
  background-color: rgb(41, 26, 26);
  color: white;
}

#d01 {
  height: 11vh;
  width: 100vw;
  /* background-color: black; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#d02 {
  height: 10vh;
  width: 12vw;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4.5vh;
}

#d06 {
  height: 14vh;
  width: 14vw;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Squarespace_Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

#d07 {
  color: white;
  font-size: 2.9vh;
  margin-left: 0.5vw;
  font-weight: 550;
}
#d08,
#d09 {
  font-weight: 600;
}

#d04 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 2.2vh;
}

#d05 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3.5vw;
  gap: 1vw;
}

#d010 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vh;
  width: 5vw;
  color: white;
  font-weight: 600;
}

#d011 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.9vh;
  width: 10.1vw;
  background-color: white;
  color: black;
  font-size: 2.1vh;
  font-weight: 600;
  transition: opacity 0.2s ease-in-out;
}
#d011:hover {
  opacity: 90%;
}
#d012 {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/img012.png");
  background-size: cover;
  background-position: center;

  display: block;
  align-items: center;
  justify-content: left;
}

#d013 {
  position: absolute;
  height: 25vh;
  width: 40vw;
  font-size: 12vh;
  margin-top: 30vh;
  /* background-color: red; */
  text-align: left;
  font-weight: 400;
  margin-left: 5vw;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 11vh;
  letter-spacing: -2px;
}

#d014 {
  position: absolute;
  height: 20vh;
  width: 35vw;
  margin-top: 55vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */
}

#d015 {
  height: 9vh;
  width: 20vw;
  background-color: white;
  color: black;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2vh;
}
#d015:hover {
  background-color: black;
  color: white;
}

#d016 {
  height: 9vh;
  width: 34vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.8vw;
  text-align: left;
  font-size: 2.3vh;
  font-weight: 500;
  color: rgb(219, 214, 214);
}

#d017 {
  height: 45vh;
  width: 100vw;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#d018 {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  font-size: 3.5vh;
  color: black;
  margin-top: 18vh;
  font-weight: 300;
  text-align: left;
  margin-left: 2vw;
  line-height: 5vh;
}

#d1801 {
  height: 20vh;
  width: 30vw;
  font-size: 6vh;
}
#d019 {
  height: 100%;
  width: 50%;
  /* background-color: red; */
}

#d019 {
  display: flex;
  flex-direction: column;
  /* align-items: last baseline; */
  justify-content: center;
}

#d20 {
  height: 9vh;
  width: 45vw;
  /* background-color: black; */

  display: flex;
  align-items: center;
  justify-content: left;
}

#d2101 {
  height: 8vh;
  width: 35vw;
  text-align: left;
  color: black;
  font-weight: 350;
  margin-top: 2vh;
}

#d22 {
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  text-decoration: underline;
  font-weight: 200;
  font-size: 2.3vh;
}

#d2001 {
  height: 8vh;
  width: 36vw;
  background-color: white;
  color: black;
}
#d2002 {
  margin-left: 1vw;
  height: 9vh;
  width: 8vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
#d2002:hover {
  background-color: #d3d3d3fb;
  color: black;
}

#d23 {
  height: 95vh;
  width: 100vw;
  background-color: #e8e4e4;

  display: flex;
  align-items: center;
  justify-content: center;
}

#d24 {
  height: 50vh;
  width: 50vw;
  margin-left: 2vw;
}

video {
  height: 50vh;
  width: 45vw;
  /* display: ; */
  /* background-color: red; */
}
#d25 {
  height: 50vh;
  width: 50vw;
  display: block;
  text-align: left;
  margin-left: 2vw;
  /* background-color: red; */
}

.text2501 {
  color: black;
  font-size: 3.2vh;
  font-weight: 600;
  margin-top: 3vh;
  transition: ease-in-out text-decoration 2s ease-in-out;
}
.text2501first {
  margin-top: 0px;
}

.text2501:hover {
  text-underline-position: above;
  text-decoration: underline;
  text-underline-position: calc(20);
}

.text2502 {
  width: 38vw;
  color: black;
  font-size: 2.4vh;
  font-weight: 350;
  margin-top: 3vh;
}

#d26 {
  height: 125vh;
  width: 100vw;
  background-color: white;

  display: flex;
  /* align-items: ; */
  justify-content: center;
}

#d27,
#d28 {
  height: 100%;
  width: 50vw;
}

#d29 {
  position: absolut;
  height: 30vh;
  width: 37vw;
  font-size: 5.5vh;
  margin-top: 16vh;
  text-align: left;
  margin-left: 3vw;
  line-height: 5vh;
  color: black;
}

#d30 {
  color: black;
  width: 20vw;
  font-size: 3.5vh;
  text-align: left;
  margin-left: 3vw;
  margin-top: 1.3vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

#d30arrow {
  display: none;
}

#d30:hover {
  text-decoration: underline;
  #d30arrow {
    display: contents;
    animation-delay: 2s;
  }
}

#d31 {
  width: 10vw;
  margin-left: 3vw;
  margin-top: 13vh;
  font-size: 3.5vh;
  color: black;
  display: flex;
  justify-content: left;
}

#d32 {
  height: 15vh;
  width: 38vw;

  margin-top: 15vh;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 2.3vh;
  font-weight: 400;
  color: black;
  margin-left: 2vw;
}

#d33 {
  height: 62vh;
  width: 46vw;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/templates/desktop/reseda-1-1000w.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20vh;
  animation: changeBg 4s infinite;
}

@keyframes changeBg {
  0% {
    background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/templates/desktop/reseda-1-1000w.webp");
  }
  50% {
    background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/templates/desktop/belisa-1-1000w.webp");
  }
}

#d34 {
  height: 180vh;
  width: 100vw;
  background-color: rgb(44, 14, 14);
}

#d35 {
  height: 50vh;
  width: 100vw;
  display: flex;
}

#d36,
#d37 {
  height: 40vh;
  width: 50vw;
  color: white;
}
#d36 {
  width: 35vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.5vh;
  text-align: left;
  margin-left: 4vw;
  line-height: 6vh;
  font-weight: 400;

  margin-top: 12vh;
}

#d37 {
  display: flex;
  flex-direction: column;
}

#d38 {
  height: 10vh;
  width: 35vw;
  text-align: left;
  margin-left: 12vw;
  margin-top: 15vh;
  bottom: 0vh;
}

#d39 {
  position: relative;
  height: 8vh;
  width: 14vw;
  background-color: rgb(44, 14, 14);
  margin-left: 12vw;
  margin-top: 2vh;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  font-weight: 500;
}

#d39:hover {
  background-color: white;
  color: black;
}

#d40 {
  height: 110vh;
  width: 95vw;
  margin-left: 2vw;
  margin-top: 5vh;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/grow-your-business/designed-to-sell/designed-to-sell-2-2500w.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#d41 {
  height: 250vh;
  width: 100vw;
  background-color: rgb(46, 41, 38);
  display: flex;
  flex-direction: column;
  align-items: start;
}

#d42 {
  width: 38vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.3vh;
  text-align: left;
  margin-left: 4vw;
  line-height: 6vh;
  font-weight: 400;

  margin-top: 12vh;
}

#d43 {
  height: 50vh;
  width: 100vw;
  /* background-color: red; */
  margin-left: 2.5vw;
  margin-top: 15vh;
  display: flex;
}

#d44 {
  height: 55vh;
  width: 70vw;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/grow-your-business/tools/en/tools-2-2500w.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#d45 {
  text-align: left;
  margin-left: 2vw;
}

#d46 {
  font-size: 3vh;
  font-weight: 700;
}

#d47 {
  width: 38vw;
  margin-right: 14vw;
  margin-top: 5vh;
}

#d48 {
  margin-top: 5vh;
  height: 8vh;
  width: 16vw;
  border: 2px solid rgb(145, 143, 143);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

#d48:hover {
  background-color: white;
  color: black;
}

/*-------------------------------------------*/

#d49 {
  height: 50vh;
  width: 100vw;
  margin-top: 20vh;
  display: flex;
}
#d50 {
  height: 50vh;
  width: 40vw;
  margin-left: 2vw;
  text-align: left;
}

#d4802 {
  margin-top: 5vh;
  height: 8vh;
  width: 20vw;
  border: 2px solid rgb(145, 143, 143);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

#d4802:hover {
  background-color: white;
  color: black;
}

#d51 {
  height: 55vh;
  width: 70vw;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/grow-your-business/courses/en/courses-poster-1000w.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#d52 {
  height: 55vh;
  width: 70vw;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/grow-your-business/invoice/en/invoice-poster-1000w.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#d55 {
  background-color: rgb(208, 204, 224);
  height: 150vh;
  width: 100vw;
  display: block;
}

#d56 {
  height: 10vh;
  width: 40vw;
  font-size: 5.5vh;
  color: black;
  padding-top: 15vh;
  margin-left: 2vw;
  text-align: left;
  line-height: 5.5vh;
  font-weight: 400;
}

#d57 {
  height: 90vh;
  width: 100vw;
  margin-top: 20vh;
  display: flex;
  align-items: start;
}

#d58 {
  height: 80vh;
  width: 40vw;
  text-align: left;
  margin-left: 3vw;
  color: black;
}

#d59 {
  font-size: 3.2vh;
  font-weight: 500;
}

.d59 {
  padding-top: 3vh;
}

#d60 {
  margin-top: 5vh;
  font-size: 2.3vh;
}

#d61 {
  height: 90vh;
  width: 62vw;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/market-your-business/en/market-your-business-1-1000w.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10vh;
  margin-left: 4vw;
}

#d62 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

#d63 {
  height: 80vh;
  width: 47vw;
  background-image: url("https://media-www.sqspcdn.com/images/pages/homepage/aug-2023/modern-solutions/made-with/made-with-2-2500w.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#d64 {
  height: 74vh;
  width: 47vw;
  background-color: #534936;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#d65 {
  font-weight: 500;
  font-size: 3.1vh;
  margin-left: 8vw;
}

#d66 {
  width: 30vw;
  font-weight: 300;
  font-size: 2.4vh;
  margin-left: 8vw;
  margin-top: 3vh;
}

#d67 {
  margin-left: 8vw;
  margin-top: 4vh;
  height: 8vh;
  width: 13vw;
  /* background-color: ; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 250, 242, 0.421);
  font-weight: 500;
}

#d67:hover {
  background-color: white;
  color: black;
}

#div070 {
  height: 50vh;
  width: 100vw;
  /* background-color:; */
  /* margin-left: 2vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.5vh;
  line-height: 4vh;
  background-color: black;
  color: white;
  font-weight: 200;
}

#div071 {
  color: blue;
}
